{% extends "base.html" %}

{% block content %}
<h1>
    Добавление фотографии
</h1>
 <form method="POST" action="{% url 'add-form' %}">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Добавить">
</form>
{% endblock %}