{% extends "base.html" %}

{% block content %}
<h1>
    Редактирование фотографии
</h1>
 <form method="POST" action="{% url 'edit-form' photo.id %}">{% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Изменить">
</form>
{% endblock %}